<div>
    <h2>Menu de busqueda</h2>
    <input type="submit" (click)="routeAlumnosPorCurso()" value="Buscar alumnos por curso">
    <input type="submit" (click)="routeCursosPorAlumno()" value="Buscar cursos por alumno">
    <input type="submit" (click)="routeAltaAlumno()" value="Alta alumno">
    <input type="submit" (click)="routerBuscarMatriculas()" value="Buscar">
    <input type="submit" (click)="routerAltaCurso()" value="Alta curso">
    <input type="submit" (click)="routerMatricular()" value="Matricular">
</div>

<router-outlet></router-outlet>